@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
  }
  
html {
    height: 100%;
    width: 100%;
}
  
body {
    height: 100%;
    width: 100%;
}
  
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons {
    height: 50px;
    margin: 20px;
}

button {
    width: 150px;
    padding: 10px;
}

.scoreboard {
    height: 150px;
    display: flex;
}

.baby-board {
    margin: 50px;
    background-color: black;
    color: white;
    width: 200px;
    padding: 12px 0px 28px 0px;
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    text-align: center;
}